<h1>Hello world</h1>
<p appHighlight="blue">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus officia
  ex suscipit placeat eum ipsa?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea alias libero ipsam
  eum obcaecati aliquam debitis architecto incidunt ex, deleniti voluptatibus
  vel. Deserunt, quod esse.
</p>
<input type="text" #prenom />
<button (click)="addUser(prenom.value)">Add user</button>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque obcaecati
  dolore vel corrupti! Praesentium, deserunt.
</p>
<p><a no-open href="http://www.google.fr">google</a></p>
<p>
  <a confirm [confirmMessage]="title" href="http://www.twitter.fr">twitter</a>
</p>
<p>change from child {{ counter }}</p>
<app-user-profile
  [fromParent]="3 + 3"
  *ngFor="let user of users"
  [user]="user"
  (changeCasseEvent)="changeCasse($event)"
></app-user-profile>
